extra-contracts-config.json
.env.development
node_modules
/lib
.DS_Store
*.LICENSE.txt
browser/resources
.env
.env.production
example-local
.idea
coverage/
artifacts/*
!artifacts/experimental-predicate-demo/
artifacts/experimental-predicate-demo/*
!artifacts/experimental-predicate-demo/client/
artifacts/experimental-predicate-demo/client/*
!artifacts/experimental-predicate-demo/client/tampered-profile.json
ngrok.yml
src/test.ts
.env.*
.cache
envs
out
